@using OnlineShopWebApp.Models
@using OnlineShopWebApp.Properties
@using OnlineShopWebApp.Properties.Helpers

@model List<OrderViewModel>

<div class="row">
    <nav class="col-3">
        @await Html.PartialAsync("AdminNav")
    </nav>

    <div class="col-9">
        <h2>Список заказов</h2>

        <table class="table">
            <thead>
                <tr>
                    <th>Номер</th>
                    <th>Сумма</th>
                    <th>Статус</th>
                    <th>Email</th>
                    <th>Дата</th>
                    <th>Время</th>
                </tr>
            </thead>
            <tbody>
                @foreach (var order in Model)
                {
                    <tr>
                        <td><a asp-area="Admin" asp-controller="Order" asp-action="Details" asp-route-id="@order.Id">@order.Id</a></td>
                        <td>@order.Cost.ToString("0.00") ₽</td>
                        <td>@OrdersStatusHelper.Statuses[order.Status]</td>
                        <td>@order.Email</td>
                        <td>@order.Date.ToShortDateString()</td>
                        <td>@order.Date.ToShortTimeString()</td>
                    </tr>
                }
            </tbody>
        </table>
    </div>
</div>